{% extends "layout.html" %}

{% block title %}
     Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
          <input class="form-control" name="email" placeholder="Email" type="text">
      </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
          <input class="form-control" name="confirm" placeholder="Retype password" type="password">
      </div>
      <div class="form-group">
        <input class="form-control" name="city" placeholder="City" type="text">
      </div>
      <div class="form-group">
        <input class="form-control" name="address" placeholder="Address" type="text">
      </div>
        <button class="btn btn-primary" type="submit">Sign me Up</button>
    </form>
    {{error}}
{% endblock %}